:root {
  --on: #ffffff;
  --off: #000000;
}

body {
  background-color: var(--on);
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--off);
}

.head-container {
  color: var(--off);
  border: 2px solid var(--off);
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  width: 80%;
}

.choice-container {
  display: grid;
  margin: 10px;
  padding: 5px;
  background-color: var(--on);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.choice-button {
  margin: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  color: var(--off)
}

.choice-button:hover {
  background-color: var(--off);
  color: var(--on)
}

.choice-button:active {
  background-color: var(--off);
  border: 2px solid var(--on);
}

.timer-container {
  padding: 10px;
  margin: 10px;
  width: 80%;
}

button {
  background-color: var(--on);
  border: 2px solid var(--off);
}

#timerButton {
  width: 100%;
}

h3 {
  color: var(--off);
  margin: 10px;
  font-size: large;
  font-weight: bold;
}
